@import "tailwindcss";
 
[data-theme="light"] {
    --text-primary: #000000;
    --text-secondary: #4a4a4a;
    --background-primary: #ffffff;
    --background-secondary: #f2f2f2;
    --primary: #f97316;
    --primary-dark: #c45a11;
    --border-primary: #e6e6e6;
    --gradient-color-1: #facc15;
    --gradient-color-2: #f97316;
    --gradient-color-3: #facc15;
    --success: #28a745;
    --error: #dc3545;
}
 
[data-theme="dark"] {
    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
    --background-primary: #1a1a1a;
    --background-secondary: #2a2a2a;
    --primary: #4f46e5;
    --primary-dark: #3c36b3;
    --border-primary: #444444;
    --gradient-color-1: #4f46e5;
    --gradient-color-2: #c026d3;
    --gradient-color-3: #4f46e5;
    --success: #28a745;
    --error: #dc3545;
}
 
.animated-gradient {
    background: linear-gradient(135deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
    background-size: 300% 300%;
    animation: flowingGradient 6s ease infinite;
}

@keyframes flowingGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }


}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}




